body {
    margin: 5px;
    background-color: #444;
}

#container {
    max-width: 1000px;
    margin: auto;
}

#landing-message {
    background-color: #444;
}

.bill-box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    font-size: 170%;
    margin-bottom: 10px;
}

.glyphicon {
    height: 32px;
    width: 32px;
    /*vertical-align: middle;*/
    /*display: table-cell;*/
}

.button {
    font-size: 80%;
    font-weight: bold;
    height: 85%;
    border-width: 3px;
    padding-bottom: calc(.25em - 1px);
    padding-left: .5em;
    padding-right: .5em;
    padding-top: calc(.25em - 1px);
    white-space: normal;
}

.light-background {
    background-color: white;
}

.upcoming-buses-title {
    text-align: center;
}

.arrival-time {
    text-align: left;
}

.wait-time {
    text-align: left;
}
.link {
    color: white;
}
.contact-me {
    color: white;
    padding: 10px;
    text-align: center;
}

.map-link {
    grid-area: map-link;
    text-align: center;
    vertical-align: middle;
    position:relative;
    top: calc(40% - 10px);
}

.restaurant-header {
    display: grid;
    grid-template-columns: 6fr 3fr;
    grid-template-rows: auto 1fr ;
    margin: auto;
    grid-template-areas:
            "restaurant-name restaurant-call"
}

.restaurant-information {
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    grid-template-rows: auto 1fr ;*/
/*    grid-template-areas:*/
/*            "operating-info operating-info";*/
/*    padding-top: 5px;*/
/*    padding-bottom: 5px;*/
/*    border-bottom: 1px solid white;*/
}

.restaurant-name {
    grid-area: restaurant-name;
    text-align: center;
}

.restaurant-call {
    grid-area: restaurant-call;
    text-align:left;
}

.advance-order-procedure {
    font-size: 80%;
}

.completely-unstructured-operation {
    font-size: 80%;
}

.schedule {
    display: grid;
    grid-area: operating-info;
    grid-template-columns:1fr 1fr;
    grid-template-rows: auto 1fr ;
    grid-template-areas:
            "pickup-schedule delivery-schedule";
    font-size: 60%;
}

.pickup-schedule {
    grid-area: pickup-schedule;
}
.delivery-schedule {
    grid-area: delivery-schedule;
}

.daily-hours {
    /*text-align: center;*/
    display: grid;
    grid-template-columns:1fr 4fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
            "day hours";
    font-size: 60%;
    margin-bottom: .5em;
}

.day {
    grid-area: day;
    display: inline-block;
    vertical-align: middle;
}
.hours {
    grid-area: hours;
}

.service-unavailable {
    text-align: center;
}
.hours-of-operation {
    /*display: none;*/
    /*align-content: center;*/
}
.hours-header {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.route-header {
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

.route-header_name {
}
.route-header_icon {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5px;
}

/*
    From Codepen:
 */

.overlay light {}

.arrival-time-alarm {
    padding-left: 5px;
    padding-bottom: 5px;
}
.navbar {
    background-color: #444;
}
.navbar-menu {
    background-color: #444;
}
.navbar-brand {
    background-color: #444;
}
.navbar-item {
    color: white;
}

.navbar-burger.burger{
    color: white;
}
.navbar-link {
    color: white;
}

.card {
    border: 10px solid #444;
    border-radius: 15px;
}

.card-content {
    padding: .5rem;
}

.card-header-title {
    text-align: center;
}
