body {
    margin: 5px;
}

.bill-box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    font-size: 170%;
    margin-bottom: 10px;
}

.glyphicon {
    height: 32px;
    width: 32px;
    /*vertical-align: middle;*/
    /*display: table-cell;*/
}

.button {
    font-size: 80%;
    font-weight: bold;
    height: 85%;
}

.light-background {
    background-color: white;
}

.upcoming-buses-title {
    text-align: center;
}

.arrival-time {
    text-align: left;
}

.wait-time {
    text-align: left;
}
.link {
    color: white;
}

.stop-information {
    display: grid;
    grid-template-columns:1fr 6fr 3fr;
    grid-template-rows: auto 1fr ;
    grid-template-areas:
            "map-link stop-name upcoming-information"
            "map-link stop-alt-name upcoming-information";
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.map-link {
    grid-area: map-link;
    text-align: center;
    vertical-align: middle;
    position:relative;
    top: calc(40% - 10px);
}

.stop-name {
    grid-area: stop-name;
    text-align: center;
}

.stop-alt-name {
    grid-area: stop-alt-name;
    text-align: center;
    font-size: 70%;
}
.upcoming-information {
    grid-area: upcoming-information;
    text-align:left;
}

.route-header {
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

.route-header_name {
}
.route-header_icon {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5px;
}

/*
    From Codepen:
 */

.overlay light {}

.arrival-time-alarm {
    padding-left: 5px;
    padding-bottom: 5px;
}
.navbar {
    background-color: #444;
}
.navbar-menu {
    background-color: #444;
}
.navbar-item {
    color: white;
}

.navbar-burger.burger{
    color: white;
}
